* {
	line-height: 1.0em;
}
html{
	background-color:#a7a7a7;
	font-size:62.5%;
}
h1, h2, h3, h4, h5 {
	font-family: "GothicB", CenturyGothic, AppleGothic, sans-serif;
}
h1{
	color: #535353;
}
h1,
h2,
h2 a{
	@include font-size(30);
	@include media($second) {
		@include font-size(35);
	}
	@include media($first) {
		@include font-size(25);
	}
}
h3{
	@include font-size(30);
	@include media($first) {
	   @include font-size(25);
	}
}

h4{
  @include font-size(20);
  @include media($first) {
    @include font-size(20);
  }
}

h5{
	@include font-size(16);
	@include media($first) {
	   @include font-size(12);
	}
}

p, a, button, select, li {
	@include font-size(15);
	@include media($first) {
		@include font-size(16);
	}
	font-family: Arial, sans-serif;
	color: #535353;
}

button, select {
	color: #535353;
} 

span, p, h1, h2, h3, h4, li {
	margin: 0 0 18px;
}

strong {
	font-weight: bold;
}

a {
	&:link, &:visited, &:active, {
		color: #535353;
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
		color: #ff7c27;
	}	
}

img {
	border: 1px solid #535353;
	margin: 0.5em 0;
}	
