@import 'neat/neat-helpers';


$column: modular-scale(4, 1em, $golden) !default;
$gutter: modular-scale(0.5, 1em, $golden) !default;
$grid-columns: 16;

$max-width: 976px;


$group_1: new-breakpoint(max-width 399px $grid-columns);
$group_2: new-breakpoint(min-width 400px max-width 599px $grid-columns);
$group_1_2: new-breakpoint(max-width 599px $grid-columns);
$group_3: new-breakpoint(min-width 600px  $grid-columns);

