@import "grid-settings";
@import "neat/neat";

#page {
	//$visual-grid: true; 
	@include outer-container; 
	position:relative;
}

#inner-page{
	@include outer-container;
}

@include media($group_3) {
	

	.primary-page-content{
		@include span-columns(10);
	 	@include omega;

	}

	.secondary-page-content{
		@include span-columns(6);

	}
}

.grid-container{
	@include row();
	margin-left:10px;
	margin-right:10px;
}

@mixin outdent-grid-container{
		margin-left:-10px;
	margin-right:-10px;
}

