@import 'reset.sass';
@import 'fonts.scss';
@import 'bourbon/bourbon';
@import "grid-settings";
@import "neat/neat";
@import 'layout.scss';
@import 'base.scss';
@import 'themes.scss';
@import 'modules/base.scss';
@import 'icons.scss';
@import 'modules/header.scss';

#implementation, #code {
  @include media($group_3) {
     width: 50%;
  }
  @include media($group_1_2) {
     width: 100%; 
  }
  height: 100%;
  float: left;
  h4.wrapper-head {
      color: #fff;
  }
}

#code {
  @include margin-bottom-match-gutter;
  .wrapper-head, .borderbox{
	@include padding-left-match-gutter;
  }
  pre {
	@include padding-horizontal-match-gutter;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.5em;
    word-wrap: break-word;
    line-height: 1.5em;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1.5em;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1.5em;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1.5em;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1.5em;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1.5em;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1.5em;
    background-size: 100% 1.5em;
  }
}

footer {
   clear: both;
}

/* file API */
#dropbox, #uploadedImages {
    height: 250px;
    margin-bottom: 10px;
    background-color: #bde2f4;
    padding: 10px;
    overflow: hidden;
    img {
      height: 100%;
    }
    p {
      color: #fff;
    }
}


/* map API */
#map-canvas {
	height: 40em;
	margin: 0 auto;
	border: 1px solid #19a388;
}
#map-canvas {
    div.icon-fish {
        height: 35px;
        margin-bottom: 5px;
        border: none!important;
    }
    a {
        color: #ff7c27;
        text-decoration: underline;
   }
}
#map-canvas .gmnoprint p {
    color: #FF7D27;
}
.map-form {
	margin: 1em 0;
}
.map-form .map-inline-form {
    border: 1px solid #19a388;
    color: #535353;
    padding: 1em;
    width: 75%;
}
.map-form #code_address {
    border: none;
    background-color: #19a388;
    color: #fff;
    display: inline-block;
    line-height: 2em;
    padding-top: 0.3em;
    vertical-align: top;
    text-decoration: none;
    width: 25%;
    text-align: center;
}

/* code styles */
pre {
  display: block;
}
