* {
	line-height: 1.0em;
}


@mixin font-size($px) {
	font-size:$px+px;
	font-size:($px/10)+rem;
 }

html{
	background-color:#a7a7a7;
	font-size:62.5%;
}

@font-face {
	font-family:  'gothicBold';
	src: url('/fonts/centuryGothic/GOTHICB.TTF') format('truetype');
}

@font-face {
	font-family: 'gothic';
	src: url('/fonts/centuryGothic/GOTHIC.TTF') format('truetype');
}
	
h1, h2, h3, h4, h5 {
	font-family: 'gothicBold';
}
h1{
	color: #535353;
}
h1,h2 {
	@include font-size(40);
	@include breakpoint($second) {
		@include font-size(35);
	}
	@include breakpoint($first) {
		@include font-size(25);
	}
}
h3,h4{
	@include font-size(20);
	@include breakpoint($first) {
	   @include font-size(16);
	}
}

h5{
	@include font-size(16);
	@include breakpoint($first) {
	   @include font-size(12);
	}
}

p, a, button, select, li {
	@include font-size(15);
	@include breakpoint($first) {
		@include font-size(16);
	}
	font-family: Helvetica, Arial, sans-serif;
	color: #535353;
}

button, select {
	color: #535353;
} 

span, p, h1, h2, h3, h4, li {
	margin: 0 0 18px;
}

strong {
	font-weight: bold;
}

a {
	&:link, &:visited, &:active, {
		color: #535353;
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
		color: #ff7c27;
	}	
}

img {
	border: 1px solid #535353;
	margin: 0.5em 0;
}	
section{
 @include span-columns(15);
}