* {
	line-height: 16px;
}

@font-face {
	font-family: 'gothicBold';
	src: url('fonts/centuryGothic/GOTHICB.TTF') format('truetype');
}

@font-face {
	font-family: 'gothic';
	src: url('fonts/centuryGothic/GOTHIC.TTF') format('truetype');
}
	
h1, h2, h3, h4, h5 {
	font-family: 'gothicBold';
	font-size: 2em;
	@include breakpoint($smallest) {
	    font-size: 1.5em;
	}
	color: #535353;
}

h2 {
	font-size: 2.5em;
	@include breakpoint($smallest) {
	    font-size: 1.4em;
	}
}
h3{
	font-size: 2em;
	@include breakpoint($smallest) {
	    font-size: 1.3em;
	}
}
h4{
	font-size: 1.5em;
	@include breakpoint($smallest) {
	    font-size: 1.2em;
	 }
}

h5{
	font-size: 1.3em;
	@include breakpoint($smallest) {
	    font-size: 1.1em;
	 }
}

p, a, button, select, li {
	font-family: Helvetica, Arial, sans-serif;
	color: #535353;
}

button, select {
	font-size: 1.077em;
	@include breakpoint($smallest) {
	    font-size: 0.8em;
	}
	color: #535353;
} 

p {
	font-size: 1.077em;
	@include breakpoint($smallest) {
	    font-size: 0.8em;
	}
}

span, p, h1, h2, h3, h4, li {
	margin: 0 0 18px;
}

strong {
	font-weight: bold;
}

a {
	font-size: 1em;
	@include breakpoint($smallest) {
	    font-size: 0.8em;
	}
	&:link, &:visited, &:active, {
		color: #535353;
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
		color: #ff7c27;
	}	
}

p a, a p { font-size: 1em; }

img {
	border: 1px solid #535353;
	margin: 0.5em 0;
}	