* {
	line-height: 16px;
}

@mixin font-size($px) {
	font-size:$px+px;
	font-size:($px/10)+rem;
 }

html{

	font-size:62.5%;
}

@font-face {
	font-family:  'gothicBold';
	src: url('/fonts/centuryGothic/GOTHICB.TTF') format('truetype');
}

@font-face {
	font-family: 'gothic';
	src: url('/fonts/centuryGothic/GOTHIC.TTF') format('truetype');
}
	
h1, h2, h3, h4, h5 {
	font-family: 'gothicBold';
	
	
}
h1{
	color: #535353;
}
h1,h2 {
	
	@include font-size(35);
	@include breakpoint($second) {
		@include font-size(35);
	}}
h3{
	@include font-size(20);
	@include breakpoint($first) {
	   
	}
}
h4{
	@include font-size(16);
	@include breakpoint($first) {
	 }
}

h5{
	@include font-size(14);
	@include breakpoint($first) {
	 }
}

p, a, button, select, li {
@include font-size(14);
	font-family: Helvetica, Arial, sans-serif;
	color: #535353;
}

button, select {
	@include font-size(14);
	@include breakpoint($first) {
	}
	color: #535353;
} 

p {
	@include font-size(14);
	@include breakpoint($first) {
	}
}

span, p, h1, h2, h3, h4, li {
	margin: 0 0 18px;
}

strong {
	font-weight: bold;
}

a {
	//@include font-size(12);
	@include breakpoint($first) {
	}
	&:link, &:visited, &:active, {
		color: #535353;
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
		color: #ff7c27;
	}	
}


img {
	border: 1px solid #535353;
	margin: 0.5em 0;
}	