#dropbox, #uploadedImages {
    border: 1px solid #424242;
    height: 20em;
    padding: 1em;
    margin-bottom: 1em;
    overflow: hidden;
}
#map-canvas {
	height: 40em;
	width: 90%;
	margin: 0 auto;
	border: 1px solid #19a388;
	#map_logo {
		border: none!important;
	}
	.gmnoprint p {
	    color: #FF7D27;
	}
}	
.map-form {
	margin: 1em 0;
	.map-inline-form {
	    @extend .extend-styled-input;
	}
	a#code_address {
		@extend .extend-styled-link;
	}
}