@import "neat/neat-helpers";

$column: 8px;
$gutter: 8px;
$grid-columns: 15;

$max-width: 480px;


$first: new-breakpoint(max-width 260px $grid-columns);
$second: new-breakpoint(max-width 400px $grid-columns);
$third: new-breakpoint(max-width 960px $grid-columns);