$icon-phone : ".icon-phone";
$icon-twitter : ".icon-twitter";
$icon-email : ".icon-email";
$icon-arrow-nav :"nav .touch-list .widget-icon";
$icon-arrow-nav-selected :"nav .touch-list.selected .widget-icon";
$icon-arrow-a :".toggle-list-section-style-b .widget-summary .widget-icon";
$icon-arrow-a-selected :".toggle-list-section-style-b .widget-summary.selected .widget-icon";

$icon-arrow-b :".toggle-list-section .widget-summary .widget-icon,.toggle-list-section-style-c .widget-summary .widget-icon";
$icon-arrow-b-selected :".toggle-list-section .widget-summary.selected .widget-icon,.toggle-list-section-style-c .widget-summary.selected .widget-icon";

$icon-under-construction : "#construction-badge";
.icon{
	background-size:cover;
}

.footer-icon{
	@extend .icon;
	width:20px;
	height:20px;
	margin-right:1em;
	float:left;
}

.contentbox-icon{
	background-origin:content-box;
	background-position:right; 
	
}


#{$icon-phone},#{$icon-email},#{$icon-twitter}{
	@extend .footer-icon;	
}
