$icon-phone : ".icon-phone";
$icon-twitter : ".icon-twitter";
$icon-email : ".icon-email";
$icon-arrow-nav :".nav-icon,nav .touch-list .wrapper-body";
$icon-arrow-nav-selected :".nav-icon,nav .touch-list .wrapper-body.selected";
$icon-arrow-a :".toggle-list-section-style-b .widget-summary .text-wrapper";
$icon-arrow-a-selected :".toggle-list-section-style-b .widget-summary.selected .text-wrapper";

.icon{
	background-size:cover;
}

.footer-icon{
	@extend .icon;
	width:20px;
	height:20px;
	margin-right:5px;
	float:left;
}

.contentbox-icon{
	background-origin:content-box;
	background-position:right;
}



#{$icon-arrow-a},#{$icon-arrow-a-selected}{
	@extend .contentbox-icon;
}


#{$icon-phone},#{$icon-email},#{$icon-twitter}{
	@extend .footer-icon;	
}
