
header {
	@extend .drop-shadow;
	.wrapper {
		@extend .texture1;
		border-bottom: 1px solid #444;
		padding: 0.5em;
		@include media($first) {
		 	padding: 0.2em;
		}
		h1.wrapper-head,  p.wrapper-body {
			color: #ff7c27;
		}
		h1.wrapper-head {
			 margin-bottom: 0.1em;
			 @include breakpoint($first) {
			 	margin-bottom: 0.2em;
			}
		}
		p.wrapper-body {
			margin: 0;
		}
	}
}

nav {
	@extend .drop-shadow;
	.wrapper {
		@extend .texture2;
	}
	@extend .list-touch;
	li {
		@include  row();
		//backround-position:right center;
		//backround-position:right 3em bottom 10px;
	
		border-top: 1px solid #e2dfe2;
		.wrapper-body {			
			@include font-size(20);
			@include breakpoint($first) {
				@include font-size(16);
			}			
		}
		.touch-list-title{
			@include span-columns(13);
			padding: 0.5em;
			color:  #e2dfe2;
		}
		&.selected{
			border-top: 1px solid  #ff7c27;
			.touch-list-title{
					color:  #ff7c27;
			}
		}
		a:hover {
			.touch-list-title{
				color:  #ff7c27;
			}
		}
		
	}
}
.widget-icon{
			@include span-columns(2);
			background-position:center center;
			background-position:right 5px center ;
			padding:0.5em 0
		}

footer {
	
	border-top: 1px solid #000;
	margin-bottom: 0.2em;
	.wrapper {
		border-top: 1px solid #e2dfe2;
		.text-wrapper {
			@extend .extend-nested-margins-padding;
			@extend .text-wrapper-style-a;
		}
	}
	.copy-wrapper {
		@extend .extend-nested-margins-padding;
		text-align: center;
		.wrapper-body {
			@include media($second) {
				@include font-size(12); 
			}
			@include font-size(13);
		}
	
		
	}
	.wrapper-body {
			@include font-size($grid-columns);
			color: #ff7c27;
			margin: 0;
			@include media($first) {
		 		@include font-size(14);
			}
			@include media($second) {
		 		@include font-size(18);
			}
		}
}

.tweets {
	@extend .drop-shadow;
	border-top: 5px solid #ff7c27;
	
	padding-bottom: 0.5em;
	.text-wrapper {
		@extend .texture1;
		.nested-wrapper {
			@extend .extend-nested-margins-padding;
			@extend .text-wrapper-style-a;
		}
	}
	li.touch-list {
		p {
			min-height: 2em;
			color: #e2dfe2;
		}
		
		a {
			color: #ff7c27;
		}
		a.selected {
			margin-top: 2px;
			border-top: 2px solid #ff7c27;
		}
	}
}

.major-text-wrapper {
		border-top: 1px solid #e2dfe2;
		background-color:#535353;
		@extend .extend-nested-margins-padding;
		h2.wrapper-head {
			color: #e2dfe2;
		}
	}
.toggle-list-section {
	
	.content-wrapper {
		margin: 0 0.5em;
		li.detail-list {
			@extend .list-toggle-style-a;
			h4 {
				color: #19a388;
			}
		 	h5 {
				@extend .heading-bottom-border-style-b;
			}
		}
	}
}
li.detail-list {
}

	

section.toggle-list-section-style-b {
	@extend .toggle-list-section ;

	
	.content-wrapper {
		li.detail-list {
			@extend .list-toggle-style-b;
		}
		p, h4, h5, li {
			color: #e2dfe2;
		}	
		a {
			color: #e2dfe2;
		}	
	}
}

section.toggle-list-section-style-c {
	
	@extend .toggle-list-section ;
	.content-wrapper {
		li.detail-list {
			@extend .list-toggle-style-c;
			h4 {
				color: #19a388;
			}
		 	h5 {
				@extend .heading-bottom-border-style-b;
			}
		}
	}
}
section.page-section {
	@extend .drop-shadow;
	.text-wrapper {
		border-top: 5px solid #19a388;  
		@extend .content-style-a;
		@extend .text-wrapper-style-b;
	}
}

p.top-link{
	@include font-size(20);
}
#construction{	
	@include perspective( 1200px);
	
	position:absolute;	
	left: -220px;
	display:block;
	#construction-badge{	
		width: 210px;	
		height: 215px;
		@include transition-property(rotateY);
 		//@include backface-visibility( hidden); 	
    	@include transform-style( preserve-3d );    	
  		@include transition-duration(1s); 
    	@include transition-timing-function(ease-out);
    	@include transform(rotateY(0deg));
    	@include breakpoint($third) {
				 @include transform(rotateY(90deg));				
		}
	}
	
}

 