

#page {
	border: solid 8px #a7a7a7;
	background-color: #535353;
}
#inner-page {
	border: solid 1px #535353;
	border-top: 1px solid #ff7c27;	
}

.drop-shadow {
	padding-bottom: 0.5em;
	@include media($first) {
	 	padding-bottom: 0.2em;
	}
	background: #424242 url('../images/bg/drop_shadow.gif') repeat-x left bottom;
}

.texture1 {
	@include background-image(
				 
			radial-gradient(
				rgba(0,0,0,0.1) 10px, 
				rgba(0,0,0,0.3)
			),
			
		
			url('/images/bg/texture1.gif')
		);
}
.texture2 {
	@include background-image(	
		radial-gradient(
			rgba(0,0,0,0.1) 10px, 
			rgba(0,0,0,0.5)
		),
		url("/images/bg/texture2.jpg")
	);
}

.texture3 {
	@include background-image(
		radial-gradient(
			rgba(0,0,0,0.1) 10px, 
			rgba(0,0,0,0.5)
		),
		url("/images/bg/grey_wash_wall.png")
	);
}

.extend-nested-margins-padding {
	padding: 0.5em 1em;
	@include media($first) {
	 	margin: 0 0.2em;
	 	padding: 0.2em;
	}
	.nested-wrapper {
		margin: 0 0.3em;
		padding: 0 0.5em;
		@include media($first) {
		 	margin: 0 0.2em;
		 	padding: 0.2em;
		}
		ul.wrapper-body {
			padding: 1em 0;
		}
	}
}

.content-style-a {
	background-color: #e2dfe2;
	@extend .extend-nested-margins-padding;
}

.extend-heading-wrapper-style-a {
	@extend .heading-bottom-border-style-c;
	color: #ff7c27;
	padding-bottom: 0!important;
	margin: 0.5em 0 2em 0;
		h4.wrapper-head {
		color: #ff7c27;	
	}
}

.heading-border-bottom-margin-padding {
	padding-bottom: 0.5em;
}	

.heading-bottom-border-style-a {
	@extend .heading-border-bottom-margin-padding;
	border-bottom: 1px solid #19a388;
}

.heading-bottom-border-style-b {
	@extend .heading-border-bottom-margin-padding;
	border-bottom: 1px solid #535353;
}

.heading-bottom-border-style-c {
	@extend .heading-border-bottom-margin-padding;
	border-bottom: 1px solid #ff7c27;
}

.extend-image-wrapper {
	text-align: center;
	@include  row();
}

.text-wrapper-style-a {
	a.wrapper-body, p.wrapper-body {
		color: #e2dfe2;
	}
	h4.wrapper-head {
		color: #ff7c27;
		@extend .heading-bottom-border-style-c;
	}
	@extend .list-touch;
}

.text-wrapper-style-b {
	padding-top: 1em;
	h4.wrapper-head {
		color: #19a388;
	}
 	h5.wrapper-head {
		@extend .heading-bottom-border-style-b;
	}
	@extend .extend-styled-list-a;

 }
 
.text-wrapper-style-c {
	p.wrapper-body {
		color: #e2dfe2;
	}
	a.wrapper-body {
		color: #e2dfe2;
	}
	h4.wrapper-head {
		color: #19a388;
	}
	h5.wrapper-head {
		@extend .heading-bottom-border-style-b;
	}
 }
 
 .text-wrapper-style-d {
	a.wrapper-body, p.wrapper-body {
		color: #e2dfe2;
	}
	h4.wrapper-head {
		color: #19a388;
	}
	@extend .list-touch;
}

.toggle-widget-style-a {
	@extend .extend-toggle-widget;
	.widget-summary {
		background-color: #e2dfe2;
		.text-wrapper {
			p.wrapper-body {
				margin-bottom: 8px;
			}
		}
	}
	.widget-detail {
		@extend .extend-toggle-widget-detail;
		background-color: #e2dfe2;
		@extend .text-wrapper-style-b;
		@extend .extend-form-style-a;
		.text-wrapper {
			border-top: 1px solid #19a388;
		}
	}
}

.toggle-widget-style-b {
	@extend .extend-toggle-widget;
	background-color: #2b2b2b;
	.widget-summary {
		background-color: #2b2b2b;
		@extend .text-wrapper-style-d;
		.text-wrapper {
			padding-bottom: 0;	
		}
	}
	.widget-detail {
		padding-top: 0;
		@extend .extend-toggle-widget-detail;
		@extend .text-wrapper-style-c;
		background-color: #2b2b2b;
		.text-wrapper {
			.compact-text {
				p.wrapper-body {
					margin-bottom: 8px;
				}
			}
			padding-top: 0;
			border:none;
		}
	}
	.widget-body{
		border-top: 1px solid #656464;
	}
}

.extend-toggle-widget {
	a.widget-body,.widget-summary,.widget-detail {
		@include  row() ;
		height: auto;
	}
	.text-wrapper {
		@extend .extend-nested-margins-padding;
	}
	.image-wrapper {
		@extend .extend-image-wrapper;
	}
	.widget-summary {
		.text-wrapper {
			@include span-columns(14);
		}
	}
}

.extend-toggle-widget-detail {
	.image-wrapper {
		img {
			width: 80%
		}
		border-bottom: none;
	}
	a { text-decoration: underline; }
}

/**** IMAGES *****/

img.transparent {
	border: none;
}
img.text-img {
	float: left;
	margin-top: 0;
	margin-right: 1em;
}

/**** FORMS *****/

.extend-form-style-a {
	form {
		margin: 1em 0;
		button.btn {
			border: none;
			min-height: 2em;
			background-color: #19a388;
			color: #e2dfe2;
			font-weight: bold;
			margin: 0;
		}
		.styled-select {
			min-height: 2em;
			@extend .extend-select-styled-a;
		}
		
	}
}
	
.extend-select-styled-a {
	display: inline-block;
    width: 4em;
    overflow: hidden;
    background-position: right;
    border: 1px solid #535353;
  	vertical-align: bottom;
  		@include box-sizing(border-box);
  		height:2.0em;
    select {
	    background: transparent;
	    width: 80px;
	    border: 0;
	    border-radius: 0;
	   -webkit-appearance: none;
	   	min-height: 2em;
		margin:0;
	
   }
}
.extend-styled-input {
	border: 1px solid #19a388;
    color: #535353;
    height: 2em;
    padding-left: 0.25em;
    width: 65%;
}

.extend-styled-link {
	border: none;
	background-color: #19a388;
	color: #e2dfe2;
	display: inline-block;
    height: 1.8em;
    padding: 0.5em;
    vertical-align: top;
    text-decoration: none;
}

/**** LISTS *****/

.list-touch {
	li.touch-list {
		min-height: 2em; 
		a.wrapper-body {
			display: block;
		}
		a.wrapper-body.selected {		
		}
		margin-bottom: 0;
	}
}

.list-toggle-style-a {
	@extend .drop-shadow;
	border-top: 5px solid #19a388;
	.image-wrapper {
			@extend .texture3;
			text-align: center;
	}
	.widget-detail {
		.image-wrapper {
			background:none;
		}
	}
	@extend .toggle-widget-style-a;
	margin: 0;
}

.list-toggle-style-b {
	@extend .drop-shadow;
	border-top: 5px solid #19a388;
	.image-wrapper {
		background-color: #2b2b2b;
		text-align: center;
	}
	@extend .toggle-widget-style-b;
	margin: 0;
}

.list-toggle-style-c {
	@extend .drop-shadow;
	border-top: 5px solid #19a388;
	.image-wrapper {
		@extend .texture3;
		text-align: center;
	}
	@extend .toggle-widget-style-a;
	margin: 0;
}

.extend-styled-list-a {
    @extend .list-touch;
	li.touch-list {
		list-style-type: disc;
		list-style-position:inside;
	}
}