/* general page styles */
/* line 2, ../sass/blog-specific.scss */
body {
  font-family: "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
  font-size: 0.9rem;
}

/* line 6, ../sass/blog-specific.scss */
#inner-page {
  width: 100%;
}

/* line 10, ../sass/blog-specific.scss */
#implementation, #code {
  width: 50%;
  height: 100%;
}
/* line 13, ../sass/blog-specific.scss */
#implementation .borderbox, #code .borderbox {
  border: 1px solid #C0C0C0;
  padding: 10px;
}

/* line 19, ../sass/blog-specific.scss */
#code {
  width: 100%;
}
/* line 21, ../sass/blog-specific.scss */
#code pre {
  font-size: 1.5em;
  word-wrap: break-word;
  line-height: 1.5em;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background-size: 100% 1.5em;
}

/* line 35, ../sass/blog-specific.scss */
footer {
  clear: both;
}

/* file API */
/* line 40, ../sass/blog-specific.scss */
#dropbox, #uploadedImages {
  height: 250px;
  margin-bottom: 10px;
  background-color: #bde2f4;
  padding: 10px;
  overflow: hidden;
}
/* line 46, ../sass/blog-specific.scss */
#dropbox img, #uploadedImages img {
  height: 100%;
}
/* line 49, ../sass/blog-specific.scss */
#dropbox p, #uploadedImages p {
  color: #fff;
}

/* map API */
/* line 56, ../sass/blog-specific.scss */
#map-canvas {
  height: 40em;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #19a388;
}

/* line 62, ../sass/blog-specific.scss */
#map-canvas #map_logo {
  border: none !important;
}

/* line 65, ../sass/blog-specific.scss */
#map-canvas .gmnoprint p {
  color: #FF7D27;
}

/* line 68, ../sass/blog-specific.scss */
.map-form {
  margin: 1em 0;
}

/* line 71, ../sass/blog-specific.scss */
.map-form .map-inline-form {
  border: 1px solid #19a388;
  color: #535353;
  padding: 1em;
  width: 75%;
  margin-right: 10px;
}

/* line 78, ../sass/blog-specific.scss */
.map-form a#code_address {
  border: none;
  background-color: #19a388;
  color: #fff;
  display: inline-block;
  line-height: 1.8em;
  padding: 0.5em;
  vertical-align: top;
  text-decoration: none;
}

/* code styles */
/* line 90, ../sass/blog-specific.scss */
pre {
  display: block;
}
