/* general page styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\000032}}
body {
  font-family: "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
  font-size: 0.9rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\000036}}
#inner-page {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000310}}
#implementation, #code {
  width: 50%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000313}}
#implementation .borderbox, #code .borderbox {
  border: 1px solid #C0C0C0;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000319}}
#code {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000321}}
#code pre {
  font-size: 1.5em;
  word-wrap: break-word;
  line-height: 1.5em;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background-size: 100% 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000335}}
footer {
  clear: both;
}

/* file API */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000340}}
#dropbox, #uploadedImages {
  height: 250px;
  margin-bottom: 10px;
  background-color: #bde2f4;
  padding: 10px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000346}}
#dropbox img, #uploadedImages img {
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000349}}
#dropbox p, #uploadedImages p {
  color: #fff;
}

/* map API */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000356}}
#map-canvas {
  height: 40em;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #19a388;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000362}}
#map-canvas #map_logo {
  border: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000365}}
#map-canvas .gmnoprint p {
  color: #FF7D27;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000368}}
.map-form {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000371}}
.map-form .map-inline-form {
  border: 1px solid #19a388;
  color: #535353;
  padding: 1em;
  width: 75%;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000378}}
.map-form a#code_address {
  border: none;
  background-color: #19a388;
  color: #fff;
  display: inline-block;
  line-height: 1.8em;
  padding: 0.5em;
  vertical-align: top;
  text-decoration: none;
}

/* code styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/blog-specific\.scss}line{font-family:\0000390}}
pre {
  display: block;
}
