#dropbox, #uploadedImages {
    border: 1px solid #424242;
    height: 20em;
    padding: 1em;
    margin-bottom: 1em;
}
#map-canvas {
	height: 40em;
	width: 100%;
	border: 1px solid #19a388;
}
.gmnoprint p {
    color: #FF7D27;
}
input.map-inline-form {
    border: 1px solid #19a388;
}
.map-border a:link {
    background-color: transparent;
}
#map_logo {
	border: none!important;
}