.icon-arrow-a-selected { background-image: url('png/arrow-a-selected.png'); background-repeat: no-repeat; }

.icon-arrow-a { background-image: url('png/arrow-a.png'); background-repeat: no-repeat; }

.icon-arrow-b-selected { background-image: url('png/arrow-b-selected.png'); background-repeat: no-repeat; }

.icon-arrow-b { background-image: url('png/arrow-b.png'); background-repeat: no-repeat; }

.icon-arrow-nav-selected { background-image: url('png/arrow-nav-selected.png'); background-repeat: no-repeat; }

.icon-arrow-nav { background-image: url('png/arrow-nav.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon-infographic-1 { background-image: url('png/infographic-1.png'); background-repeat: no-repeat; }

.icon-infographic-2 { background-image: url('png/infographic-2.png'); background-repeat: no-repeat; }

.icon-infographic-3 { background-image: url('png/infographic-3.png'); background-repeat: no-repeat; }

.icon-infographic-4 { background-image: url('png/infographic-4.png'); background-repeat: no-repeat; }

.icon-infographic-5 { background-image: url('png/infographic-5.png'); background-repeat: no-repeat; }

.icon-mobile-menu { background-image: url('png/mobile-menu.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-select-box-arrow { background-image: url('png/select-box-arrow.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-under_construction { background-image: url('png/under_construction.png'); background-repeat: no-repeat; }

