<footer>
	<div class="wrapper">
		<div class="text-wrapper">
			<h4 class="wrapper-head">Twitter</h4>
			<p class="wrapper-body"><a class="wrapper-body" href="http://twitter.com/absolute_orange" title="absolute_orange">Follow us</a></p>
			<h4 class="wrapper-head">Contact us</h4>
			<ul>
				<li class="touch-list">
					<a class="wrapper-body" href="mailto:{{email}} title="{{email}}">{{email}}</a>
				</li>
				<li class="touch-list">
					<a class="wrapper-body" href="callto:{{tel}}" title="{{tel}}">{{tel}}</a>
				</li>
			</ul>
		</div>
	</div>