<div class="border"></div>
<div class="content-wrapper">
	<div class="head-wrapper">	
		<h4 class="wrapper-head">Twitter</h4>
	</div>
	<div class="text-wrapper">
		<p class="wrapper-body"><a class="wrapper-body" href="http://twitter.com/absolute_orange" title="absolute_orange"><div class="icon-twitter"></div>Follow us</a></p>	
	</div>
	<div class="head-wrapper">	
		<h4 class="wrapper-head">Contact us</h4>
	</div>
	<div class="text-wrapper">
		<ul>
			<li class="touch-list">
				<a class="wrapper-body" href="mailto:{{email}} title="{{email}}"><div class="icon-email"></div>{{email}}</a>
			</li>
			<li class="touch-list">
				<a class="wrapper-body" href="callto:{{tel}}" title="{{tel}}"><div class="icon-phone"></div>{{tel}}</a>
			</li>
		</ul>
	</div>