<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-9959509-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script');
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
	        'http://www') + '.google-analytics.com/ga.js';
	    ga.setAttribute('async', 'true');
	    document.documentElement.firstChild.appendChild(ga);
	  })();
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='/scripts/libs/jquery-1.7.1.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
</script>
<script type="text/javascript" src="/scripts/Mobile.js"></script>

