<script type="text/javascript" >
isMustardException=false;
</script>
<!--[if IE 6]>
	<script src="{{CDNPath}}/js/libs/DD_belatedPNG.js"></script>
	<script>
		$(document).ready(function(){
  			DD_belatedPNG.fix('');
		});
	</script>
<![endif]-->
<!--[if (IE 7)|(IE 8)]>
<script type="text/javascript" >
	isMustardException=true;
</script>		
<script type="text/javascript" src="{{CDNPath}}/js/polyfills/JSON.js"></script>
<script type="text/javascript" src="{{CDNPath}}/js/polyfills/respond.js"></script>
<![endif]-->
<!--[if (IE 7)]>
<script type="text/javascript" src="{{CDNPath}}/js/polyfills/excanvas.js"></script>
<script type="text/javascript" >
		isIE7=true;
</script>
<![endif]-->
<!--[if (IE 8)]>
<script type="text/javascript" src="{{CDNPath}}/js/polyfills/flashcanvas.js"></script>
<script type="text/javascript" >
		isIE8=true;
</script>
<![endif]-->		
	<script type="text/javascript" src="{{CDNPath}}/js/common.js"></script>
       	<script type="text/javascript">         	
       	var templateData={homeData:{}};
 		{{#jsonData}}
 			templateData.{{var}}={{{data}}}
 		{{/jsonData}}
     	var init = function (){
     		importJS('{{CDNPath}}/js/app/config.js', 'configCheck', function(){
     			require.config({
      				baseUrl:'{{CDNPath}}/js',
      				urlArgs:"v={{version}}"});
                  require(["{{script}}"],function(){});
			});
     		
     	}
		if(hasTheMustard()) {
			importJS('{{CDNPath}}/js/require.js','require',function(){						
				init();
			});
		}			
</script>
<!--  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9959509-1");
pageTracker._trackPageview();
} catch(err) {}
</script>-->