<title>{{{title}}}</title>		
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="description" content=""/>
<script>document.cookie='resolution='+Math.max(window.innerWidth,window.innerHeight)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';</script>
<link rel="stylesheet" href="{{CDNPath}}/styles/main.css" type="text/css" charset="utf-8" />
<link rel="icon" href="{{CDNPath}}/favicon.ico" type="image/png">