<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie10 lt-ie9 lt-ie8 ie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie10 lt-ie9 ie" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js lt-ie10 ie" lang="en"><![endif]-->
<!--[if IE 10]><html class="no-js ie" lang="en"><![endif]-->
<!--[if gt IE 10]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <title>{{{title}}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content=""/>
    <link rel="stylesheet" href="{{CDNPath}}/styles/blog-specific.css" type="text/css" charset="utf-8" />
    <link rel="icon" href="{{CDNPath}}/favicon.ico" type="image/png">
    <link type="text/css" rel="stylesheet" href="{{CDNPath}}/styles/lightbox.min.css" />
    <!--[if lt IE 9]>
    <script src="{{CDNPath}}/scripts/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Unicode CSS Loader: place this in the head of your page -->
    <script>
    /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
    window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!!t.document.createElementNS&&!!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect,A=function(A){var o=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];o.rel="stylesheet",o.href=e[A&&n?0:A?1:2],r.parentNode.insertBefore(o,r)},o=new t.Image;o.onerror=function(){A(!1)},o.onload=function(){A(1===o.width&&1===o.height)},o.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
    grunticon( [ "/icon/icons.data.svg.css", "/icon/icons.data.png.css", "/icon/icons.fallback.css" ] );</script>
    <noscript><link href="/icon/icons.fallback.css" rel="stylesheet"></noscript>
</head>
<body id="lab">
	<script>
	 	if (window.innerHeight == undefined) {
	 		document.cookie='resolution='+Math.max(document.body.clientWidth, document.body.clientHeight)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';	
		 }
	</script>
    <script>
        var eleHtml = document.getElementsByTagName('html')[0],
            existingPseudoClasses = eleHtml.className.split(' '),
            newPseudoClass = 'js';
            for(var i= 0, len=existingPseudoClasses.len; i<len; i++){
                if (thisClass != 'no-js') {
                    newPseudoClass = newPseudoClass+' '+thisClass;
                }
            }
            eleHtml.className = newPseudoClass;
    </script>
	<div id="page">
		<div id="construction"><div id="construction-badge"></div></div>
		<div id="inner-page">
			{{{header}}}
    
            {{{container}}}
		<footer>
			{{{footer}}}
		</footer>
		</div>
	</div>
</body>
{{{footerScript}}}	
</html>
