<div class="clearfix"></div>
<section class="tweets">
	<div class="content-wrapper">
		<div class="grid-container">
			<a  class="twitter-timeline" href="https://twitter.com/absolute_orange" data-widget-id="443056773927145473">Tweets by @absolute_orange</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			
		</div>
	</div>
</section>
