@import "../_icons.scss";

#{$icon-bear} { background-image: url(../../images/icons/bear.png); background-repeat: no-repeat; }

#{$icon-phone} { background-image: url(../../images/icons/phone.png); background-repeat: no-repeat; }

#{$icon-star} { background-image: url(../../images/icons/star.png); background-repeat: no-repeat; }