@import "../_icons.scss";

#{$icon-email} { background-image: url(../../images/icons/email.png); background-repeat: no-repeat; }

#{$icon-phone} { background-image: url(../../images/icons/phone.png); background-repeat: no-repeat; }

#{$icon-twitter} { background-image: url(../../images/icons/twitter.png); background-repeat: no-repeat; }