/* line 1, ../../app/styles/main.scss */
body {
  background: #fdfafa;
}

/* line 5, ../../app/styles/main.scss */
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

/* line 10, ../../app/styles/main.scss */
.icon-phone, .ape2 {
  background-size: cover;
  width: 200px;
  height: 200px;
}
