@import url("../common.css") screen;
@import url("../transitions.css") screen;
body{color:#904c51;}
.showgrid{background:url(compact.png);float:left;}
#content{display:block;}
.column,.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12,.span-13,.span-14,.span-15,.span-16,.span-17,.span-18,.span-19,.span-20,.span-21,.span-22,.span-23,.span-24{float:left;}
@media screen and (max-width:641px){}@media screen and (max-width:801px){#contentContainer{width:800px;} .item{width:240px;margin-bottom:5px;}}@media screen and (min-width:960px){#contentContainer{width:960px;} .item{width:300px;margin-bottom:5px;}}
