@import './common.scss';
@import './transitions.scss';
body{color:#4d926f;}

#contentContainer{width:960px;}

section{padding:0;}

#content{display:block;}

#photos{width:940px;padding-bottom:10px;}

#form-helper{width:925px;margin-left:auto;margin-right:auto;}

.showgrid{background:url(large.png);}

.column,.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12,.span-13,.span-14,.span-15,.span-16,.span-17,.span-18,.span-19,.span-20,.span-21,.span-22,.span-23,.span-24 {
	float:left;
}
.last{
	margin-right:0;
}
.item{
	width:297px;
	margin-top:	10px;
	margin-right:10px;
}
.dropzone{
	background-color:#d0f1e0;
	border:#4D926F 1px solid;
}
