@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/webapp\/legacy\.scss}line{font-family:\000031}}
.js #photos {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/webapp\/legacy\.scss}line{font-family:\000034}}
.no-cookie #photos {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/www\/sass\/webapp\/legacy\.scss}line{font-family:\000037}}
.js .loading {
  display: block;
}
