/* line 1, ../../sass/webapp/legacy.scss */
.js #photos {
  display: none;
}

/* line 4, ../../sass/webapp/legacy.scss */
.no-cookie #photos {
  display: block;
}

/* line 7, ../../sass/webapp/legacy.scss */
.js .loading {
  display: block;
}
