@import './common.scss';
@import './transitions.scss';
body{color:#4d926f;}
.showgrid{background:url(smart.png);}
#content{display:block;}
.column,.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12,.span-13,.span-14,.span-15,.span-16,.span-17,.span-18,.span-19,.span-20,.span-21,.span-22,.span-23,.span-24{float:left;}
.item{
	width:135px;
	margin-top:5px;
	margin-right:5px;
}
@media screen and (min-width:240px) and (max-width:241px){}
@media screen and (min-width:320px) and (max-width:321px){
	.item{
		width:135px;
	}
}
@media screen and (min-width:480px) and (max-width:568px){
	.item{
		width:160px;
	}
}