@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
/* line 5, ../../sass/flashmobs/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../../sass/flashmobs/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../../sass/flashmobs/_reset.sass */
body {
  line-height: 1;
}

/* line 33, ../../sass/flashmobs/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 36, ../../sass/flashmobs/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 39, ../../sass/flashmobs/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 44, ../../sass/flashmobs/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "UbuntuBoldItalics";
  src: url("/fonts/UbuntuBoldItalics/UbuntuBoldItalics.eot");
  src: local("☺"), url("/fonts/UbuntuBoldItalics/UbuntuBoldItalics.eot?#iefix") format("embedded-opentype"), url("/fonts/UbuntuBoldItalics/UbuntuBoldItalics.woff") format("woff"), url("/fonts/UbuntuBoldItalics/UbuntuBoldItalics.ttf") format("truetype"), url("/fonts/UbuntuBoldItalics/UbuntuBoldItalics.svg#UbuntuBoldItalics") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, ../../sass/flashmobs/flashmobs.scss */
* {
  line-height: 16px;
}

/* line 8, ../../sass/flashmobs/flashmobs.scss */
p, h1, h2, a {
  color: #fff;
  margin: 0 0 18px;
}

/* line 13, ../../sass/flashmobs/flashmobs.scss */
h1, h2 {
  font-family: 'UbuntuBoldItalics', Helvetica, Arial, sans-serif;
  font-size: 4em;
}

/* line 17, ../../sass/flashmobs/flashmobs.scss */
h2 {
  font-size: 2em;
  font-weight: bold;
}

/* line 22, ../../sass/flashmobs/flashmobs.scss */
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.077em;
}

/* line 27, ../../sass/flashmobs/flashmobs.scss */
span.italics {
  font-style: italic;
}

/* line 30, ../../sass/flashmobs/flashmobs.scss */
strong {
  font-weight: bold;
}

/* line 34, ../../sass/flashmobs/flashmobs.scss */
body {
  background-color: #151e5c;
  margin: 1em;
}

/* line 39, ../../sass/flashmobs/flashmobs.scss */
header {
  float: left;
  width: 100%;
  margin-bottom: 2em;
}
/* line 43, ../../sass/flashmobs/flashmobs.scss */
header h1, header img {
  float: left;
}
/* line 46, ../../sass/flashmobs/flashmobs.scss */
header h1 {
  padding-top: 0.25em;
}

/* line 83, ../../sass/flashmobs/flashmobs.scss */
footer {
  text-align: center;
}
/* line 85, ../../sass/flashmobs/flashmobs.scss */
footer p {
  font-size: 0.77em;
}
