.major-text-wrapper {
	h2.wrapper-head,
    h2.wrapper-head a {
		color: #e2dfe2;
		margin-top:0.75em;
	}
}


section.page-section {
    @include clearfix;
	.content-wrapper {
		border-top: 5px solid #19a388; 
		.text-wrapper { 
			@extend .content-style-a;
			@extend .text-wrapper-style-b;
		}
	}
}

p.top-link{
	@include font-size(15);
    float: right;
    a {
        @include font-size(13);
    }
}

.loading {
    width: 100%;
    height: 100%;
    background-color: #e2dfdf!important;
    background: url(/images/bg/loading.gif) no-repeat 50% 50%;
}
