#construction{	
	@include perspective( 1200px);
	position:absolute;	
	left: -180px;
	top: 10px;
	display:block;
	#construction-badge{	
		width: 180px;	
		height: 180px;
		@include transition-property(rotateY);
 		//@include backface-visibility( hidden); 	
    	@include transform-style( preserve-3d );    	
  		@include transition-duration(1s); 
    	@include transition-timing-function(ease-out);
    	@include transform(rotateY(0deg));
    	@include media($third) {
				 @include transform(rotateY(90deg));				
		}
	}
}