footer {
	//@include clearfix;
	border-top: 1px solid #e2dfe2;
	margin-bottom: 0.2em;
	.border {
		border-top: 1px solid #000;
	}
	.content-wrapper {
		
		.head-wrapper {
			@extend .extend-heading-wrapper-style-a;
		}
		.text-wrapper {
			
			@extend .text-wrapper-style-a;
		}
		.wrapper-body {
			@include font-size($grid-columns);
			color: #ff7c27;
			margin: 0;
			@include media($group_1) {
		 		@include font-size(14);
			}
			@include media($group_2) {
		 		@include font-size(18);
			}
		}
	}
    .copy-wrapper {
    	@include margin-vertical-match-gutter;
        text-align: center;
        .wrapper-body {
            color: #ff7c27;
            margin-bottom: 0;
            @include media($group_2) {
              @include font-size(12);
            }
            @include font-size(13);
        }
    }
    h4{
    	margin-top: 0.5em;
    }

}

