#primary-header{
	.icon-fish{
		display: none;
		width:120px;
		height:120px;
		position: absolute;
		left:8px;
		top:10px;
		@include media ($group_3){
			display: block;
			left:16px;
		}
	}	
	
	.wrapper {

		min-height: 69px;
		@extend .texture1;
		h1.wrapper-head a,  p.wrapper-body {
			color: #ff7c27;
		}
		@include media($group_1) {
		 	padding: 0.2em;
		}
		@include media($group_1_2){
                position: relative;	
            }
		h1.wrapper-head a {
			display: inline-block;
			
			 @include media($group_1_2){
			 	 float: right;
			 	 position: absolute;
			    top: 50%;
			    left: 8px;
			    margin-top: -0.5em;
			 }
			 @include media($group_3){
			 	position:inherit;
			 	@include font-size(40);
				margin-top: 2em;
				margin-bottom: 0.5em;
				margin-left:132px;
			}            
			
		}
		p.wrapper-body {
			margin: -0.5em 0 0 0.5em;
		}
        .icon-mobile-menu {

			@include margin-vertical-match-gutter;
          height: 50px;
          width: 50px;

          display:none;
          @include media($group_1_2) {
				display:block;
				float: right;
			}	
        }

	}
}
