

.js nav {
  //display: none;
}
.no-js nav {
  //display: block;
}

nav {

	 @include media($group_1_2) {
			@include outdent-grid-container;
	}	

	.wrapper{
		@extend .texture1;
		@extend .list-touch;
		@include media($group_3){
			  margin-left: -16px;
    		
		}
	}	

		
	li {
		@include  row();
		border-top: 1px solid mix(#e2dfe2 ,#111);
		.wrapper-body {			
			@include font-size(20);
			@include media($group_1) {
				@include font-size(16);
			}			
		}
		.touch-list-title{
			
		@include transition-property(color);
		@include transition-duration(0.7s);
			padding: 1em ;
			@include padding-horizontal-match-gutter;
			
			color:  #e2dfe2;
		}
		&.selected{
			border-top: 1px solid  #ff7c27;
			.touch-list-title{
					color:  #ff7c27;
			}
		}

	  	@include transition-property(background-color);
		@include transition-duration(0.7s);
		&:hover {
			background-color:rgba(black,0.2);
		}
		a:hover {
			.touch-list-title{
				color:  #ff7c27;
			}
		}
	}
	@include media($group_1_2) {
		display:none;
	 	&.mobile-enabled {
      		display: block;
    	}
	}
   
}

