#additional-modules-group_3{
	.tweets{
		@include margin-top-match-gutter;
		margin-right: 0;
	}
}
.tweets {
	@include outdent-grid-container;
	border-top: 5px solid #ff7c27;
	.content-wrapper {
		@include padding-vertical-match-gutter;
		
		@extend .texture1;
		.head-wrapper {
			@extend .extend-heading-wrapper-style-a;
		}
		.text-wrapper {
			.nested-wrapper {
				@extend .extend-nested-margins-padding;
				@extend .text-wrapper-style-a;
			}
		}
		li.touch-list {
			p {
				min-height: 2em;
				color: #e2dfe2;
			}
			
			a {
				color: #ff7c27;
			}
			a.selected {
				margin-top: 2px;
				border-top: 2px solid #ff7c27;
			}
		}
	}
}