.tweets {
	@include outdent-grid-container;

	@extend .clearfix;

	@extend .drop-shadow;
	border-top: 5px solid #ff7c27;
	padding-bottom: 0.5em;
	.content-wrapper {
		@extend .texture1;
		.head-wrapper {
			@extend .extend-heading-wrapper-style-a;
		}
		.text-wrapper {
			.nested-wrapper {
				@extend .extend-nested-margins-padding;
				@extend .text-wrapper-style-a;
			}
		}
		li.touch-list {
			p {
				min-height: 2em;
				color: #e2dfe2;
			}
			
			a {
				color: #ff7c27;
			}
			a.selected {
				margin-top: 2px;
				border-top: 2px solid #ff7c27;
			}
		}
	}
}